@using Core.Constants
@using Web.Areas.Admin.ViewModels.Story
@model StoryCreateVM

<form enctype="multipart/form-data" asp-action="create" asp-controller="story" method="post">


    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input class="form-control" asp-for="Description">
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="StoryPhoto">Story's photo</label>
        <input class="form-control" asp-for="StoryPhoto">
        <span asp-validation-for="StoryPhoto"></span>
    </div>
    


    <button type="submit" class="btn btn-primary">Create</button>
   <a class="btn btn-danger" asp-action="index" asp-controller="story">Cancel</a>
</form>



@section Scripts{


    <script src="https://cdn.ckeditor.com/ckeditor5/35.2.1/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#Title'))
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });
    </script>
}
