@{
    ViewBag.Title = "Forgot Password";
    var returnUrl = Context.Request.Query["returnUrl"];
}

@using Web.ViewModels.Account;
@model ForgotPasswordVM;


<section style="margin: 5rem 80rem" class="login-sec">
    <div class="login-div">
  

        <div class="login-right">
            <div class="form-heading">
                <h2 class="form-tit">Returning Customer</h2>
                <p class="form-tit2">I am a returning customer</p>
            </div>
            <form asp-action="forgotpassword" asp-controller="account" method="post">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-12">
                        <div class="form-group">
                            <label style="display:none" asp-for="@Model.Email"></label>
                            <input style="padding: 0 1rem" asp-for="@Model.Email" class="form-control-1" placeholder="Email *">
                            <span asp-validation-for="@Model.Email"></span>
                        </div>
                    </div>
                          
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Search</button>
            </div>
            </form>
        </div>
    </div>

</section>