<footer class="footer">
        <ul class="main-list">
            <li class="first-list">
                <h4 class="text">DUROTAN</h4>
                <ul class="internal-list">
                    <li>
                        268 Elizaberth Ave Str, Brooklyn,
                        CA, 90025
                    </li>
                    <li>+0082 561 43 34</li>
                    <li>support@durotan.com</li>
                    <li>
                        <ul class="icons">
                            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                            <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="second-list">
                <h4 class="text">FAQS</h4>
                <ul class="internal-list">
                    <li>Information</li>
                    <li>Payment</li>
                    <li>Shipping</li>
                    <li>Returns</li>
                    <li>Gift Card</li>
                    <li>Guest purchase</li>
                    <li>Electronic receipt</li>
                    <li>Terms & Conditions</li>
                </ul>
            </li>
            <li class="third-list">
                <h4 class="text">COMPANY</h4>
                <ul class="internal-list">
                    <li>About Durotan</li>
                    <li>Contact</li>
                    <li>Careers</li>
                    <li>Our Journals</li>
                </ul>
            </li>
            <li class="fourth-list">
                <h4 class="text">NEWSLETTER</h4>
                <ul class="internal-list">
                    <li>Be the first to get the latest news about trends, promotions and much more!</li>
                    <li class="mail"><input type="mail" placeholder="Enter your email..."></li>
                    <li>By subscribing, you accept the <span class="privacy"><a href="#">Privacy Policy</a></span></li>
                    <li class="button">Subscribe</li>
                </ul>
            </li>
        </ul>
    </footer>
